<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="intro">
  <div class="container">
    <p class="lead">Hi, I'm Sangarshanan. I do some stuff and write about it here, I think about computers, cosmology, vaporwave and dank memes. I work at <a href="https://grofers.com">Grofers</a>.</p>
  </div>
<div class="icon-bar">
  <a href="  mailto:sangarshanan1998@gmail.com" class="google"><i class="fa fa-envelope"></i></a>
  <a href="https://www.linkedin.com/in/sangarshanan/" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="https://github.com/sangarshanan" class="github"><i class="fa fa-github"></i></a>
  <a href="https://twitter.com/sangarshanan" class="twitter"><i class="fa fa-twitter"></i></a>

</div>

</section>

<style type="text/css">
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
    opacity: 0.5;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.github {
  background: black;
  color: white;
}
</style>